* {
  margin: 0;
  padding: 0;
  list-style: none; }

html,
body {
  width: 100%;
  height: 100%; }

.xianshi {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); }
  .xianshi div {
    width: 50%;
    height: 100px;
    margin: 200px auto;
    background: #fff; }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .box header {
    width: 100%;
    height: 50px; }
    .box header div {
      line-height: 50px;
      text-align: center;
      color: #fff;
      background: orange; }
  .box main {
    width: 100%;
    flex: 1; }
    .box main input {
      width: 100%;
      height: 30px;
      line-height: 30px; }
  .box footer {
    width: 100%;
    height: 50px; }
    .box footer div {
      width: 90%;
      height: 40px;
      text-align: center;
      line-height: 40px;
      margin: 5px auto;
      border-radius: 40px;
      color: #fff;
      background: orange; }
